html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
        link(rel="stylesheet" href="dist/style.css")
    body
        .wrapper
            .wrapper__content
                h1
                    | 404 page not found
                .wrapper__content--link
                    a(href="/")
                        | Back to the main page
        footer
            div
                span
                    | Copyright Dominik Szczepaniak 2018 &nbsp; | &nbsp;
                a(href="https://devszczepaniak.pl")
                    | devszczepaniak.pl