html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
        link(rel="stylesheet" href="dist/style.css")
    body
        .wrapper
            .wrapper__content
                h1(class="wrapper__content__header--first")
                    | 404 page not found
                .wrapper__content__link
                    a(href="/")
                        | Back to the main page
        footer(class="main__footer")
            div
                span
                    | Copyright Dominik Szczepaniak 2018 &nbsp; | &nbsp;
                a(href="https://devszczepaniak.pl")
                    | devszczepaniak.pl