html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
        link(rel="stylesheet" href="dist/style.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
    body
        .wrapper
            div(class="wrapper__content" id="chat")
                h1
                    | Chatroom number #{room}!
                div(class="messages" id="chat-window")
                    ul(id="output")
                        li
                            strong Mark
                            | Hello, it's me!
                        li
                            strong Jose Arcadio Morales
                            | Hello.
                        li
                            strong Mark
                            | How are you?
                        li
                            strong Jose Arcadio Morales
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget venenatis felis. Suspendisse potenti. Etiam eu leo in augue suscipit tempus. Sed elementum augue vitae accumsan hendrerit. Maecenas semper lacus nisl. Integer sollicitudin ante a felis viverra, vitae vulputate orci accumsan. Donec elit mi, accumsan sed felis et, sagittis finibus mi. Aliquam erat volutpat. Sed suscipit, libero nec porttitor ornare, nulla erat scelerisque nunc, consectetur hendrerit felis sapien ut ligula. Aliquam at laoreet turpis. Proin ultrices nulla finibus laoreet scelerisque.
                .add-message
                    textarea(class="textarea" id="message" placeholder="e.g. Hello world")
                    .submit
                        input(type="submit" value="Enter!" id="send" class="button is-link is-medium")
        footer
            div
                span
                    | Copyright Dominik Szczepaniak 2018 &nbsp; | &nbsp;
                a(href="https://devszczepaniak.pl")
                    | devszczepaniak.pl
        script(type='text/javascript').
            const room = "!{room}"
            const nickname = "!{nickname}"
        script(src="dist/main.js" async)
