@import "mixins";

body {
  margin: 0;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  @include grid__center;
  height: 96vh;
  max-width: 100%;
  margin: 0 20%;
  .wrapper__content {
    h1 {
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      margin: .5rem 0;
    }
    h2 {
      text-align: center;
      font-size: 1.5rem;
    }
    .input {
      margin-top: .5rem;
    }
    .control, .submit {
      @include grid__center;
      margin: 1rem 0;
    }
    .messages {
      margin-top: 2rem;
      max-height: 50vh;
      overflow-y: scroll;
    }
    .add-message textarea {
      font-size: 1.1rem;
      resize: none;
    }
    .wrapper__content--link {
      text-align: center;
    }
    ul li {
      font-size: 1.1rem;
      padding: .75rem .5rem;
      background-color: #F3F3F3;
      display: flex;
      &:nth-child(odd) {
        background-color: #DBDCDE;
      }
      strong {
        min-width: 8rem;
        max-width: 8rem;
      }
    }
  }
}
footer {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}