@import "mixins";

body {
  margin: 0;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  @include grid__center;
  height: 96vh;
  max-width: 100%;
  margin: 0 20%;
  .wrapper__content {
    width: 100%;
    .wrapper__content__header--first {
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      margin: .5rem 0;
    }
    .wrapper__content__header--second {
      text-align: center;
      font-size: 1.5rem;
    }
    .wrapper__content__form__input {
      margin-top: .5rem;
    }
    .wrapper__content__form__room, .wrapper__content__form__submit {
      @include grid__center;
      margin: 1rem 0;
    }
    .wrapper__content__messages {
      margin-top: 2rem;
      height: 50vh;
      overflow-y: scroll;
      background-color: #F3F3F3;
    }
    .wrapper__content__message--add textarea {
      font-size: 1.1rem;
      resize: none;
    }
    .wrapper__content__link {
      text-align: center;
    }
    ul li {
      font-size: 1.1rem;
      padding: .75rem .5rem;
      background-color: #EBEBEB;
      display: flex;
      &:nth-child(odd) {
        background-color: #DBDCDE;
      }
      strong {
        min-width: 8rem;
        max-width: 8rem;
      }
    }
    .wrapper__content__broadcast {
      font-style: italic;
      padding: .5rem .1rem;
      color: #777;
      min-height: 2.5rem;
      animation-name: fade;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}
.main__footer {
  width: 100%;
  height: 4vh;
  display: grid;
  background-color: #ebebeb;
  justify-items: center;
  align-content: center;
}

@keyframes fade {
  0% {opacity: 1;}
  50% {opacity: .4;}
  100% {opacity: 1;}
}